h1 {
    color: blue;
}

a {
    color: rgb(105, 61, 19);
    display: block;
    /*4 tipos: block(não pode ter nada na frente*/
}

.sem-sublinhado {
    text-decoration: none;
}

#minha-div {
   width: 50%;/*50% da largura da tela*/
   height: 40px;/*40px de altura*/
   background-color: green; 
}
